h1 {
    color: #000;
}

button {
    background-color: #ff45ff;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    padding: 8px 15px;
}

main {
    width: 100%;
}

.column {
    float: left;
    width: 33.3%;
    text-align: justify;
    padding: 0px 10px;
    box-sizing: border-box;
}

.featured-columns #col-1 button {
    background-color: purple;
    color: #fff;
}

.featured-columns #col-2 button {
    background-color: #000;
    color: #fff;
}

.featured-columns #col-3 button {
    background-color: yellow;
    color: #fff;
}



